<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Class Registry</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />

    <!-- CSRF token that ring's anti-forgery middleware is expecting.
         we pick it up in class-registry.client and add it to the headers
         that cljs-ajax uses -->
    <meta name="anti-forgery-token" content="{{ csrfToken }}">
  </head>
  <body>
    <input type="hidden" id="anti-forgery-token" value="{{ csrfToken }}">
    <div id="app"></div>
    {% if dev %}<script type="text/javascript" src="cljs/target/goog/base.js"></script>{% endif %}
    <script type="text/javascript" src="cljs/app.js"></script>
	{% if dev %}<script type="text/javascript">goog.require('class_registry.client');</script>{% endif %}
    <script type="text/javascript">
      class_registry.client.run();
    </script>
  </body>
</html>
